# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

Framework

autorevision.swift
autorevision.h
autorevision.sh

Newton.framework
build_tools
Deliverables

Carthage
Cartfile.resolved

docs/
readme.md

Newton.zip
Newton-iOS.zip
Newton-tvOS.zip

Newton.framework.zip

.DS_Store
/.build
/Packages
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

/.vscode
/.swiftpm
